# Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
env/
venv/

# OS junk
.DS_Store

# IDE
.vscode/
.idea/

# Env vars
.env
.env.*
!.env.example
*.env

# Local output
vlan/*.json
out/
archive/

# Local working files
sites.csv
/vlans/
.~lock.*#
